@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Poppins', sans-serif;
    background-color: #dedede;
}
.disable-selection {
    user-select: none;
}
/* .bg-imagen{
    background-image: url(/fondoIndex.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto;
} */

.bg-mi-verde{
    background-color: #57a34a;
}


.text-mi-verde{
    color: #61BF51;
}

.clip-bottom {
    clip-path: polygon(100% 50%, 0 0, 100% 0, 50% 100%, 0 0)
}